* {
  font-family: "DM Sans", sans-serif !important;
}

/* hero styles */
#title {
  font-family: "Dancing Script", cursive !important;
  font-size: calc(1em + 0.5vw);
}

#hero {
  background-image: url("./images/gallery1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero_name {
  font-family: "Dancing Script", cursive !important;
}


